body {
   font-family: 'SF Pro Display Regular' sans-serif;
   background-color: #fafafa;
}

h1 {
   font-family: 'SF Pro Display Bold';
   font-weight: 700;
   font-size: 64px;
   line-height: 76px;
   letter-spacing: -0.05em;
}

h2 {
   font-family: 'SF Pro Display Bold';
   font-weight: 700;
   font-size: 56px;
   line-height: 67px;
   letter-spacing: -0.05em;
}

h3 {
   font-family: 'SF Pro Display Bold';
   font-weight: 700;
   font-size: 48px;
   line-height: 57px;
   letter-spacing: -0.05em;
}

h4 {
   font-family: 'SF Pro Display Bold';
   font-weight: 700;
   font-size: 40px;
   line-height: 48px;
   letter-spacing: -0.05em;
}

h5 {
   font-family: 'SF Pro Display Bold';
   font-weight: 700;
   font-size: 32px;
   line-height: 38px;
   letter-spacing: -0.05em;
}

h6 {
   font-family: 'SF Pro Display Bold';
   font-weight: 700;
   font-size: 24px;
   line-height: 29px;
   letter-spacing: -0.05em;
}

.h7 {
   font-family: 'SF Pro Display Bold';
   font-weight: 700;
   font-size: 20px;
   line-height: 24px;
   letter-spacing: -0.035em;
}

.spreadText {
   font-family: 'SF Pro Display Regular' sans-serif;
   font-size: 20px;
   line-height: 23px;
   letter-spacing: -0.025em;
}

.bodyBold {
   font-family: 'SF Pro Display Bold';
   font-weight: 700;
   font-size: 16px;
   line-height: 19px;
   letter-spacing: -0.025em;
}

.body {
   font-family: 'SF Pro Display Regular' sans-serif;
   font-size: 16px;
   line-height: 19px;
   letter-spacing: -0.025em;
}

.smallBold {
   font-family: 'SF Pro Display Bold';
   font-weight: 700;
   font-size: 14px;
   line-height: 17px;
   letter-spacing: -0.025em;
}

.small {
   font-family: 'SF Pro Display Regular' sans-serif;
   font-size: 14px;
   line-height: 17px;
   letter-spacing: -0.025em;
}

.tinyBold {
   font-family: 'SF Pro Display Bold';
   font-weight: 700;
   font-size: 12px;
   line-height: 14px;
   letter-spacing: -0.025em;
}

.tiny {
   font-family: 'SF Pro Display Regular' sans-serif;
   font-size: 12px;
   line-height: 14px;
   letter-spacing: -0.025em;
}

.active {
   color: #3754db !important;
}

.active a {
   fill: #3754db !important;
}

.active:hover {
   color: #3754db !important;
}

.chartWrapper {
   /* padding: 1rem 2rem; */
   display: flex;
}

.chartWrapper span:first-child {
   margin-right: 3.5rem;
}

.apexcharts-tooltip.apexcharts-theme-light .apexcharts-tooltip-title {
    background: transparent !important;
    border-bottom: 0 !important;
}

/* Fonts */
@font-face {
   font-family: 'SF Pro Display Regular';
   font-style: normal;
   font-weight: normal;
   src: local('SF Pro Display Regular'),
      url('./fonts/SFPRODISPLAYREGULAR.woff') format('woff');
}

@font-face {
   font-family: 'SF Pro Display Medium';
   font-style: normal;
   font-weight: normal;
   src: local('SF Pro Display Medium'),
      url('./fonts/SFPRODISPLAYMEDIUM.woff') format('woff');
}

@font-face {
   font-family: 'SF Pro Display Bold';
   font-style: normal;
   font-weight: normal;
   src: local('SF Pro Display Bold'),
      url('./fonts/SFPRODISPLAYBOLD.woff') format('woff');
}
