body {
   font-family: SF Pro Display;
}

h1 {
   font-weight: 700;
   font-size: 64px;
   line-height: 76px;
}

h1 {
   font-weight: 700;
   font-size: 56px;
   line-height: 67px;
}

h3 {
   font-weight: 700;
   font-size: 48px;
   line-height: 57px;
}

h4 {
   font-weight: 700;
   font-size: 40px;
   line-height: 48px;
}

h5 {
   font-weight: 700;
   font-size: 32px;
   line-height: 38px; 
}

h6 {
   font-weight: 700;
   font-size: 24px;
   line-height: 29px;
}

.h7 {
   font-weight: 700;
   font-size: 20px;
   line-height: 24px;
}

.spreadText {
   font-size: 20px;
   line-height: 23px;
}

.bodyBold {
   font-weight: 700;
   font-size: 16px;
   line-height: 19px;
}

.body {
   font-size: 16px;
   line-height: 19px;
}

.smallBold {
   font-weight: 700;
   font-size: 14px;
   line-height: 17px;
}

.small {
   font-size: 14px;
   line-height: 17px;
}

.tinyBold {
   font-weight: 700;
   font-size: 12px;
   line-height: 14px;
}

.tiny {
   font-size: 12px;
   line-height: 14px;
}